{{!-- Add Comment --}}
<br>
<div class="padding-20">
    <form id="comment-form " class="padding-20">
        <h3><label for="post-title">Post Title:</label></h3>
        <input class="padding-20" type="textarea" name="post-title" id="post-title">
        <h3><label for="post-title">Text:</label></h3>
        <input class="padding-20" type="textarea" name="post-text" id="post-body">
        <button class="padding-20" id="create-post-btn">Post!</button>
    </form>
</div>
<script src="/js/create-post.js"></script>